<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
    <link rel="stylesheet" href="/css's/estilo (1).css">
</head>
<body>
    <style>
        body{
            /*background-color: aqua;*/
            background-image: url("_imagens/Fundo-login.jpg"); 
            background-size: cover;
            background-position-y: -600px;

        }
        h1{
            text-align: center;
        }

    </style>
   
    <div id="login">
        <h1>LOGIN</h1>
        <form action="">
            <label for="email">E-mail:</label><input type="email" name="email" id="email" placeholder="Digite seu email" autocomplete="off">
            <label for="password">Senha:</label> <input type="password" name="password" id="password" placeholder="Digite sua senha" autocomplete="off">
            <input type="submit" value="Entrar">
            
            <li><a href="/telaInicial">Avançar()</a></li>

           <p>Ainda não tem uma conta?
            <a href="/form2
            "> Cadastrar-se</a></p>

        </form>
    </div>

    
</body>
</html>