<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>

	<nav th:fragment="menu" class="grey darken-4">
		<div id="menu" class="nav-wrapper">
			<a href="#!" class="brand-logo">SIGA-ME</a>
			<ul class="right hide-on-med-and-down">
				<li><a href="/">Tela Inicial</a></li>
				<li><a href="/form">Boletim Regional</a></li>
				<li><a href="/prevenc">Prevenções</a></li>
				<li><a href="/faleConosco">Fale Conosco</a></li>
				<li><a href="/eventos">Vacinação</a></li>
				<li><a href="/login">Sair</a></li>

			</ul>
		</div>
	</nav>
</body>
</html>