<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>

	<!-- Dropdown Structure -->
	<ul id="dropdown1" class="dropdown-content">
		<li><a href="/login">Entrar</a></li>
		<li><a href="#!">two</a></li>
		<li class="divider"></li>
		<li><a href="#!">three</a></li>
	</ul>
	<nav th:fragment="menu" class="grey darken-4">
		<div id="menu" class="nav-wrapper">
			<a href="#!" class="brand-logo">SIGA-ME</a>
			<ul class="right hide-on-med-and-down">
				<li><a href="/telaInicial">Tela Inicial</a></li>
				<li><a href="/form">Boletim Regional</a></li>
				<li><a href="/prevenc">Prevenções</a></li>
				<li><a href="/faleConosco">Fale Conosco</a></li>
				<li><a href="/eventos">Vacinação</a></li>
				<li><a href="/">Sair</a></li>
				
			</ul>
		</div>
	</nav>
</body>
</html>