<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<title>Eventos</title>
</head>
<body>
	<div th:replace="~{menu :: menu}"></div>
	<div class="container">
	<p th:if="${mensagem}" th:text="${mensagem}"></p> 
		<h1>Detalhes do evento</h1>

		<div class="row">
			<div class="col s12">
				<div class="card">
					<div class="card-content">
						<span class="card-title">Evento</span>
						<p>
							<strong>Id: </strong><span th:text="${evento.id}">1</span>
						</p>
						<p>
							<strong>Nome: </strong><span th:text="${evento.nome}">Aniversario
								de José</span>
						</p>
						<p>
							<strong>Local: </strong><span th:text="${evento.local}">Club</span>
						</p>
						<p>
							<strong>Data: </strong><span th:text="${evento.data}">25/02/2021</span>
						</p>
						<p>
							<strong>Horário: </strong><span th:text="${evento.horario}">20:00</span>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12">
				<div class="card">
					<div class="card-content">
						<span class="card-title">Adicionar Convidado:</span>
						<form th:action="@{/eventos/{idEvento}(idEvento=${evento.id})}" method="post" th:object="${convidado}">
							<div>
								<input type="hidden" th:field="*{id}" readonly="readonly">
								
							</div>
							<div>
								<label>Nome:</label> <input type="text" th:field="*{nome}">
								<span class="red-text text-darken-1"><p th:errors="*{nome}"></p></span>
								
							</div>
							<div>
								<label>RG:</label> <input type="text" th:field="*{rg}">
								<span class="red-text text-darken-1"> <p th:errors="*{rg}"></p></span>
								
							</div>
							<div>
								<button type="submit" class="btn">Salvar</button>
								<button type="reset" class="btn">Limpar</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12">
				<div class="card">
					<div class="card-content">
						<span class="card-title">Convidados</span>	
						<table class="highlight">
						<thead>
							<tr>
								<th>Id</th>
								<th>Nome</th>
								<th>Rg</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="c : ${convidados}">
							<td th:text="${c.id}">1</td>
							<td th:text="${c.nome}">Fernando Soares</td>
							<td th:text="${c.rg}">123</td>
							<td >
							<a th:href="@{/eventos/{idEvento}/convidados/{idConvidado}/selecionar(idEvento=${evento.id}, idConvidado=${c.id})}"><i class="material-icons">edit</i></a>
			                <a th:href="@{/eventos/{idEvento}/convidados/{idConvidado}/remover(idEvento=${evento.id}, idConvidado=${c.id})}"> <i class="material-icons">delete</i></a>
							
							</td>
							</tr>
						</tbody>
						</table>					
					</div>
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>