<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
 <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<title>Eventos</title>
</head>
<body>
	<div th:replace="~{menu :: menu}"></div>
	<div class="container">
	<p th:if="${mensagem}" th:text="${mensagem}"></p> 
	<h1>Lista de eventos</h1>
	<table class="highlight">
	<thead>
		<tr>
			<th>Id</th>
			<th>Nome</th>
			<th>Local</th>
			<th>Data</th>
			<th>Horario</th>
			<th></th>
		</tr>	
	</thead>
	
	<tbody>
		<tr th:each="e : ${eventos}">
			<td th:text="${e.id}">1</td>
			<td><a th:href="@{/eventos/{id}(id=${e.id})}"><span th:text="${e.nome}">Aniversario de joão</span></a></td>
			<td th:text="${e.local}">Clube</td>
			<td th:text="${#temporals.format(e.data, 'dd/MM/yyyy')}">25/02/2021</td>
			<td th:text="${e.horario}">19:00</td><td>
			<a th:href="@{/eventos/{id}/selecionar(id=${e.id})}"><i class="material-icons">edit</i></a>
			<a th:href="@{/eventos/{id}/remover(id=${e.id})}"> <i class="material-icons">delete</i></a>
			</td>
		</tr>
		
	</tbody>
	
	</table>
	</div>
	
</body>
</html>