<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Tela inicial</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" href="/css's/estilo (1).css">
</head>

<script language="javascript" src="funcoes.js"></script>


<body bgcolor="#dddddd">

	<div th:replace="~{menu :: menu}"></div>
	<div id="interface">
		<header id="cabecalho">
			<img id="icone" src="../imagens/icone-mapa.png" />
			<hgroup>
				<h1>SIGA-ME</h1>
				<h2>
					Este site tem o objetivo de divulgar informes sobre a Covid-19, <br />
					suas prevenções e boletins epidemiológicos da microrregião de
					Angicos- RN.
				</h2>
			</hgroup>

		</header>

		<section id="corpo">
			<article id="artigo-principal">
				<header id="cabecalho-artigo">
					<hgroup>


						<h3>Tela inicial-
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Postagens
							recentes</h3>


					</hgroup>
				</header>


				<h2 style="text-align: center;">Boletim Regional da
					microrregião de Angicos > Recentes</h2>


				<p>Boletim epidemiológico de Afonso Bezerra</p>
				<img src="/imagens/boletim-ab.jpg" width="300px" height="300px">


				<p>Boletim epidemiológico de Angicos</p>
				<img src="/imagens/boletim-angicos.jpg" width="300px" height="300px">


				<p>Boletim epidemiológico de Caiçara do Rio de Vento</p>
				<img src="/imagens/boletim-caicara.jpg" width="300px" height="300px">


				<p>Boletim epidemiológico de Fernando Pedroza</p>
				<img src="/imagens/boletim-fp.jpg" width="300px" height="300px">


				<p>Boletim epidemiológico de Jardim de Angicos</p>
				<img src="/imagens/boletim-jda.jpg" width="300px" height="300px">

				<p>Boletim epidemiológico de Lajes</p>
				<img src="/imagens/boletim-lajes.jpg" width="300px" height="300px">

				<p>Boletim epidemiológico de Pedro Avelino</p>
				<img src="/imagens/boletim-pa.jpg" width="300px" height="300px">

				<p>Boletim epidemiológico de Pedra Preta</p>
				<img src="/imagens/boletim-pp.jpg" width="300px" height="300px">







				<h2 style="text-align: center;">Prevenções a Covid-19</h2>

				<h1>O que é e como se prevenir da Covid-19</h1>
				<section id="biografia">
					<h2>É notório que medidas higiênicas de precaução à
						transmissão do coronavírus são armas de extrema importância tanto
						antes quanto depois do período de vacinação e medicamentos
						comprovados. A seguir, veja como acontece a transmissão do vírus e
						maneiras de intervenção não-farmacológicas para se proteger dele.</h2>
				</section>


				<h1>Como ocorre a transmissão do coronavírus?</h1>

				<p>
					De acordo com a <a
						href="https://bvsms.saude.gov.br/novo-coronavirus-covid-19-informacoes-basicas/"
						target="_blank">Agência Nacional de Vigilância Sanitária e a
						Organização Pan-Americana da Saúde</a> , a transmissão do vírus
					acontece, principalmente, de pessoa para pessoa e seu período de
					incubação (tempo de 2 a 14 dias para que os primeiros sintomas
					apareçam).
				</p>
				<p>O vírus pode ser propagado simplesmente por pessoas que
					estejam próximas, nesse caso, a propagação é mais provável numa
					distância aproximada e menor que 1,8m. Pode ser transmitido através
					das gotículas compartilhadas quando alguém espirra, tosse ou mesmo
					fala com outra pessoa. A maioria delas caem em superfícies de
					roupas e objetos compartilhados (como celular e dinheiro) o que
					facilita o contágio.</p>


				<h2 style="text-align: center;">
					Formas de contágio segundo o <a
						href="https://bvsms.saude.gov.br/novo-coronavirus-covid-19-informacoes-basicas/"
						target="_blank">Ministério da Saúde</a>:
				</h2>

				– Gotículas de saliva, tosse, espirro e/ou catarro;<br> –
				Contato pessoal próximo (toque, abraço ou aperto de mão);<br> –
				Uso compartilhado de pertences individuais (como garrafas, copos e
				talheres);<br> – Contato com objetos ou pessoas contaminadas
				seguido de contato com os olhos, nariz ou boca.<br>


				<h2 style="text-align: center;">Sintomas:</h2>

				– Coriza;<br> – Tosse;<br> – Dor de gaganta e dor de
				cabeça;<br> – Dificuldade em respirar.<br>

				<h4>Em casos mais graves:</h4>

				– Febre alta;<br> – Falta de ar;<br> – Taquicardia
				(batimento cardíaco acelerado);<br> – Pneumonia;<br> –
				Cansaço e dores no peito;<br> – Insuficiência renal e
				respiratória aguda;<br> – Cansaço e dores no peito;<br> <img
					src="/imagens/prev0.jpg" width="850px" height="750px">

				<h2 style="text-align: center;">Como se prevenir?</h2>


				<p>
					De acordo com a <a
						href="https://bvsms.saude.gov.br/novo-coronavirus-covid-19-informacoes-basicas/"
						target="_blank"> Organização Pan-Americana da Saúde</a> é
					necessário para se precaver:
				</p>

				– Higienizar as mãos com frequência com o uso de água e sabão e
				lavar por pelo menos 20 segundos. Se não houver água e sabão pode
				ser usado para desinfetar álcool 70% em gel/líquido.<br> –
				Evitar tocar nos olhos, nariz e boca com as mãos sem estarem limpas.<br>
				– Evitar contato próximo de pessoas, principalmente doentes (a
				recomendação é de no mínimo 1,5m de distância).<br> – Ficar em
				casa isolado quando estiver doente;<br> – Evitar viagens para
				áreas afetadas por coronavírus e evitar pessoas que estiveram em
				áreas onde o vírus circula.<br> – Cobrir boca e nariz com um
				lenço de papel descartável ou com o próprio braço, ao tossir ou
				espirrar. Após, descartar o lenço no lixo e higienizar as mãos.<br>
				– Evitar o compartilhamento de objetos pessoais (como pratos,
				talheres, copos etc).<br> – Limpar e desinfetar objetos e
				móveis que sejam tocados e usados com frequência por várias pessoas;
				<br> - Evitar pessoas que tiveram contato físico com alguém
				diagnosticado ou que apresentem febre, tosse ou dificuldade para
				respirar.<br> <img src="/imagens/prev1.jpeg" width="350px"
					height="250px"><img src="/imagens/prev2.jpeg" width="350px"
					height="250px"> <img src="/imagens/prev3.jpeg" width="350px"
					height="250px"><img src="/imagens/prev4.jpeg" width="350px"
					height="250px"> <img src="/imagens/prev5.jpeg" width="350px"
					height="250px"><img src="/imagens/prev6.jpeg" width="350px"
					height="250px">

				<h2 style="text-align: center;">Descubra as melhores máscaras
					para se proteger do coronavírus e quando usá-las:</h2>

				<p>
					<b>Máscaras de tecido:</b> são máscaras produzidas artesanalmente
					com materiais não médicos, como tecido, malha ou retalhos. É o tipo
					mais visto nas ruas, variando muito em forma, cor, material e
					estilo. Elas podem ser lavadas e reutilizadas e são de baixo custo.
					A recomendação é delas serem utilizadas por todos ao sair de casa,
					seja em ambientes abertos ou fechados com muitas pessoas, como
					meios de transporte e supermercados.
				</p>

				<p>
					<b>Máscaras cirúrgicas:</b> são máscaras produzidas industrialmente
					com materiais específicos e descartáveis, é geralmente usada por
					profissionais de saúde durante procedimentos ou trabalhadores de
					limpeza de postos e hospitais. Seu material filtra partículas
					menores que as máscaras de tecido comum. Existe um arame para
					adequar a máscara ao nariz, o que minimiza brechas e passagens de
					ar, aumentando assim a proteção do usuário.
				</p>

				<p>
					<b>Máscaras N95:</b> estas também são produzidas industrialmente e
					é voltada principalmente para profissionais de saúde ao realizarem
					procedimentos geradores de aerossóis no atendimento a pacientes
					suspeitos ou confirmados de infecção pelo novo coronavírus. Elas
					fornecem uma melhor proteção contra aerossóis (as menores
					partículas respiratórias possíveis para a transmissão dos vírus).
					Ela possui várias camadas de diversos materiais e são muito
					anatômicas, além disso, são as mais caras para serem produzidas.
				</p>

				<p>
					<b>Fonte:</b><a
						href="https://coronavirus.saude.mg.gov.br/blog/190-coronavirus-tipos-de-mascara#:~:text=M%C3%A1scara%20N95%3A%20profissionais%20de%20sa%C3%BAde,de%20infec%C3%A7%C3%A3o%20pelo%20novo%20coronav%C3%ADrus."
						target="_blank"> Secretaria de Estado de saúde de Minas Gerais</a>
				</p>





				<h2 style="text-align: center;">Andamento da vacinação >
					Recentes</h2>



				<p>Vacinação em Afonso Bezerra</p>
				<img src="/imagens/vacina-ab.jpg" width="300px" height="300px">


				<p>Vacinação em Angicos</p>
				<img src="/imagens/vacina-angicos.jpg" width="300px" height="300px">


				<p>Vacinação em Caiçara do Rio de Vento</p>
				<img src="/imagens/vacina-caicara.jpg" width="300px" height="300px">


				<p>Vacinação em Fernando Pedroza</p>
				<img src="/imagens/vacina-fp.jpg" width="300px" height="300px">


				<p>Vacinação em Jardim de Angicos</p>
				<img src="/imagens/vacina-jda.jpg" width="300px" height="300px">

				<p>Vacinação em Lajes</p>
				<img src="/imagens/vacina-lajes.jpg" width="300px" height="300px">

				<p>Vacinação em Pedro Avelino</p>
				<img src="/imagens/vacina-pa.jpg" width="300px" height="300px">

				<p>Vacinação em Pedra Preta</p>
				<img src="/imagens/vacina-pp.jpg" width="300px" height="300px">


				<footer id="rodape">
					<p>
						Para saber mais sobre, contate a prefeitura da sua cidade: <br />
						<img src="/imagens/AFONSO BEZERRA.png" width="30px" height="30px"><a
							href="http://afonsobezerra.rn.gov.br/" target="_blank">
							Prefeitura de Afonso Bezerra-</a> Fone: (84) 3533-2407 <img
							src="/imagens/ANGICOS.png" width="30px" height="30px"> <a
							href="https://www.angicos.rn.gov.br/" target="_blank">Prefeitura
							de Angicos- </a> Fone:(84) 3531-3951
					<p>

						<img src="/imagens/CAIÇARA DO RIO DO VENTO.png" width="30px"
							height="30px"><a
							href="https://www.municipioonline.com.br/rn/prefeitura/caicaradoriodovento/cidadao/"
							target="_blank"> Prefeitura de Caiçara do Rio do Vento- </a>
						Fone: (84) 3268-2211 <img src="/imagens/FERNANDO PEDROZA.png"
							width="30px" height="30px"><a
							href="https://www.fernandopedroza.rn.gov.br/index.php/pt/"
							target="_blank"> Prefeitura de Fernando Pedroza-</a> Fone: (84)
						99123-2139
					<p>

						<img src="/imagens/JARDIM DE ANGICOS.jpg" width="30px"
							height="30px"><a href="https://jardimdeangicos.rn.gov.br/"
							target="_blank"> Prefeitura de Jardim de Angicos- </a> Fone: (84)
						3535-0028 <img src="/imagens/LAJES.png" width="30px" height="30px">
						<a href="https://lajes.rn.gov.br/" target="_blank"> Prefeitura
							de Lajes-</a> Fone: (84) 3532-2627
					<p>

						<img src="/imagens/PEDRA PRETA.png" width="30px" height="30px"><a
							href="https://www.pedrapreta.mt.gov.br/" target="_blank">
							Prefeitura de Pedra Preta-</a> Fone: (84) 3536-0041 <img
							src="/imagens/PEDRO AVELINO.jpg" width="30px" height="30px">
						<a href="http://pedroavelino.rn.gov.br/" target="_blank">
							Prefeitura de Pedro Avelino- </a> Fone: (84) 3534-2342

					</p>
				</footer>
	</div>
</body>
</html>